{% if ansible_architecture == "aarch64" %}
deb [arch=amd64] https://www.ui.com/downloads/unifi/debian stable ubiquiti
{% else %}
deb https://www.ui.com/downloads/unifi/debian stable ubiquiti
{% endif %}
